.auto {
  width: 90%;
  margin: 0 5%;
}
.flex {
  display: flex;
}
.flex-item1 {
  flex: 1;
}
.flex-item2 {
  flex: 2;
}
.align--center {
  align-items: center;
}
.justify--center {
  justify-content: center;
}
.f-s22 {
  font-size: 22rpx;
}
.f-s23 {
  font-size: 23rpx;
}
.f-s24 {
  font-size: 24rpx;
}
.f-s26 {
  font-size: 26rpx;
}
.f-s28 {
  font-size: 28rpx;
}
.f-s30 {
  font-size: 30rpx;
}
